.nav{
    margin-top: 0px;
    height: 100px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #72BBA4;
}
ul{
    list-style: none;
    float: left;
}
ul li{
    float: left;
  display: inline-block;
}
.head-image{
    height:80px; 
    width:80px;
    display: cover;
}

.navbar{
         display: inline-block;   
         float: right;
         margin-top: 50px;
         position: fixed;
         width: 100%;
     }
     .navbar li{
         display: inline-block;
         font-size: 20px;
     }
     .navbar li a{
         color:black;
         text-decoration: none;
         padding: 15px 15px;

     }
     .navbar li a:hover,.navbar li a.active{
         text-decoration:underline ;
         color: #D7ECE5;
         
     }	  
     .btn{ 
         background-color:#72BBA4;
         width:80px;
         border:none;
         display: block;
         font-size: 20px;
     }
     .btn:hover{
         color: #D7ECE5;
         text-decoration:underline ;
     }
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: #D7ECE5;
}
.banner-area{
    position: relative;
    z-index: 1;
    height: 600px;
    width:100%;
    
}
.banner-area .banner-img{
    position:relative;
    z-index: 1;
    height: 100%;
}
.banner-area .banner-img img{
    width: 100%;
    height: 600px; 
}
.banner-area .banner-img .banner-text{
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 600px; 
}
.banner-area .banner-img .banner-text h2{
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    
}
.banner-area .banner-img .banner-text p{
    color: #fff;
    font-size: 55px;
    margin-top: 250px;
    margin-bottom:0px;
}

 